<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center; /* по горизонтали */
            align-items: center; /* по вертикали */
            flex-direction: column; /* <— вот это добавлено */
        }
    </style>
</head>
<body>
<form th:object="${user}" th:action="@{/auth/register}" method="post">

    <label for="username">Enter name: </label>
    <input th:field="*{username}" type="text" id="username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br>

    <label for="email">Enter email: </label>
    <input th:field="*{email}" type="email" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>

    <label for="password">Enter password: </label>
    <input th:field="*{password}" type="password" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>

    <input type="submit" value="Sign Up">
    <a th:href="@{/auth/login}">Back to Log In</a>

</form>
</body>
</html>