<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users table</title>
</head>
<body>
<h1>Users list</h1>
<h3><a th:href="@{/user}">View my info</a></h3>
<h3><a th:href="@{/crud/new}">Create user</a></h3>
<table border="1" , style="border-collapse: collapse; width: 30%; ">

    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user, iterStat : ${users}">
        <td th:text="${iterStat.index + 1}">№</td>
        <td th:text="${user.getUsername()}">Name</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td>
            <a th:href="@{/crud/edit(id=${user.getId()})}">edit</a>
            <br>
            <form th:action="@{/crud/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3><a th:href="@{/logout}">Logout</a></h3>
</body>
</html>