<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:object="${user}" th:action="@{/crud/update/(id=${user.getId()})}" method="post">

    <label for="firstname">Enter first name: </label>
    <input th:field="*{firstname}" type="text" id="firstname">
    <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Firstname error</div>
    <br>

    <label for="lastname">Enter last name: </label>
    <input th:field="*{lastname}" type="text" id="lastname">
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname error</div>
    <br>

    <label for="age">Enter age: </label>
    <input th:field="*{age}" type="number" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>

    <label for="email">Enter new email: </label>
    <input th:field="*{email}" type="email" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>

    <label for="password">Enter new password: </label>
    <input th:field="*{password}" type="password" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>

    <label>Role:</label><br>

    <div th:each="role : ${allRoles}">
        <input type="checkbox"
               name="roleIds"
               th:value="${role.getId()}"
               th:checked="${user.getRoles().contains(role)}"
               th:text="${role.getName()}">
    </div>

    <input type="submit" value="Update user">

</form>
</body>
</html>